<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/choose_loc.css' %}" type="text/css"> <!--main.css 링크-->
        <script type="text/javascript"></script>
        {% if count == 1 %}<script>location.href="{% url 'choose_loc' %}"</script>{% endif %}
        <script src="{% static 'js/choose_loc.js' %}"></script>
        <title>course_loc</title>
    </head>
    <body>
        <form action = "{% url 'choose_loc' %}" name = "lanForm" method = "POST" accept-charset="UTF-8"> {% csrf_token %}
            <div id="container">
                <img id="reservation2-bkbt" name="reservation2-bkbt" src="{% static 'img/reservation2-bkbt.png' %}" onclick="bkfun();">
                <!--뒤로가기 버튼 삽입-->
                <img id="reservation2-homebt" name="reservation2-homebt" src="{% static 'img/reservation2-homebt.png' %}" onclick="bkfun();">
                <!--홈 버튼 삽입-->
                {% for user in users %}
                <div id="name" name="name">{{user.name}}</div>
                {% endfor %}
                <div id="nim">님,</div>
                <div id="where">어디로 여행하시나요?</div>
                <input type="text"id="search" name="search"  placeholder="이곳에 입력하세요.">
                <input type="hidden"id="company_loc" name="company_loc" value = "ogaki">
                <img id="bar-wh" src="{% static 'img/bar-wh.png' %}">
            </div>
        </form>
        <a onclick=sm()>밍</a>
    </body>
</html>