<!DOCTYPE html>
<html lang="ko">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/choose_shop.css' %}" type="text/css"> <!--reservation_2.css 링크-->
        <script type="text/javascript"></script>
        <script src="{% static 'js/choose_shop.js' %}"></script><!--reservation_2.js 링크-->
        <title>choose_shop</title>
    </head>
    <body>
        {% load static %}
        <div id="container">
        <a href="../"><img id="reservation2-bkbt" name="reservation2-bkbt" src="{% static 'img/reservation2-bkbt.png' %}" onclick="bkfun();"></a>
        <!--뒤로가기 버튼 삽입-->
        <a href="/main"><img id="reservation2-homebt" name="reservation2-homebt" src="{% static 'img/reservation2-homebt.png' %}" onclick="bkfun();"></a>
        <!--홈 버튼 삽입-->
        {% load mathfilters %}
        {% for company in companys %}
        <img id="rental" name=rental src="{% static 'img/reservation2-block01.png' %}"> <!--1번 대여소 박스 삽입-->
        <div id="rental-01" name="rental-01">{{company.member_name}}</div>
        <div id="rental-02" name="rental-02">남은 자전거 : {{company.bicycle_num|sub:company.rent_num}}</div>
        <div id="rental-03" name="rental-02">{{company.company_info}}<br>{{company.company_phone}}</div>
        {% endfor %}
    </div>
    </body>
</html>