<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/course_rec.css' %}" type="text/css"> <!--main.css 링크-->
        <script type="text/javascript"></script>
        <script src="{% static 'js/course_rec.js' %}"></script>
        <title>course_rec</title>
    </head>
    <body>
        <div id="container">
            <img id="bluebox" src="{% static 'img/bluebox.png' %}">
            <img id="rsv-course" src="{% static 'img/rsv-course' %}">
        </div>
    </body>
</html>