<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/course1_rec.css' %}" type="text/css"> <!--main.css 링크-->
        <script type="text/javascript"></script>
        <script src="{% static 'js/course_rec.js' %}"></script>
        <title>course_rec</title>
    </head>
    <body>
        {%for history in historys%}
        <div id="container">
            <img id="reservation2-bkbt" name="reservation2-bkbt" src="{% static 'img/reservation2-bkbt.png' %}" onclick="bkfun();">
             <!--뒤로가기 버튼 삽입-->
            <img id="reservation2-homebt" name="reservation2-homebt" src="{% static 'img/reservation2-homebt.png' %}" onclick="bkfun();">
             <!--홈 버튼 삽입-->
            <img id="bluebox" src="{% static 'img/bluebox.png' %}">
            <img id="rsv-course" src="{% static 'img/rsv-course.png' %}">
            <div id="member_name">{{history.company_num}}</div>
            <div id="company_addr">{{history.company_addr}}</div>
            <div id="company_phone">{{history.company_phone}}</div>
            <div id="time">{{history.r_btime}}~{{history.r_rtime}}</div>
        </div>
        {%endfor%}
    </body>
</html>