<!--<html>
    <body>
        {{notice.subject}}, {{notice.content}}
        
    </body>
</html>-->
<!--<html>
    <body>
        <table>
        {% for notice in notices %}
            <tr onclick="location.href='notice/{{notice.num}}'">
                <td>{{notice.num}}</td>
                <td>{{notice.subject}}</td>
                <td>{{notice.regdate}}</td>
                <td>{{notice.writer}}</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>-->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/notice_detail.css' %}" type="text/css"> <!--main.css 링크-->
        <script type="text/javascript"></script>
        <script src="{% static 'js/notice1_detail.js' %}"></script>
        <title>notice_detail</title>
    </head>
    <body>
        <div id="container">
            <img id="reservation2-bkbt" name="reservation2-bkbt" src="{% static 'img/back-bt-blue.png' %}" onclick="bkfun();">
            <!--뒤로가기 버튼 삽입-->
            <img id="reservation2-homebt" name="reservation2-homebt" src="{% static 'img/home-bt-blue.png' %}" onclick="hfun();">
            <!--홈 버튼 삽입-->
            <div id="n_name">{{notice.subject}}</div>
            <div id="n_text">{{notice.writer}}</div>
            <div id="r_date">{{notice.regdate}}</div>
    
        </div>
    </body>
</html>
