<!--<html>
    <body>
        <table>
        {% for notice in notices %}
            <tr onclick="location.href='notice/{{notice.num}}'">
                <td>{{notice.num}}</td>
                <td>{{notice.subject}}</td>
                <td>{{notice.regdate}}</td>
                <td>{{notice.writer}}</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>-->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/notice1.css' %}" type="text/css"> <!--main.css 링크-->
        <script type="text/javascript"></script>
        <script src="{% static 'js/notice.js' %}"></script>
        <title>notice</title>
    </head>
    <body>
        <div id="container">
            <img id="reservation2-bkbt" name="reservation2-bkbt" src="{% static 'img/back-bt-blue.png' %}" onclick="bkfun();">
            <!--뒤로가기 버튼 삽입-->
            <img id="reservation2-homebt" name="reservation2-homebt" src="{% static 'img/home-bt-blue.png' %}" onclick="bkHome();">
            <!--홈 버튼 삽입-->
            <div id="n_text">공지사항</div>
            <div id="m_text">[공지] 정윤이 남친은 7살 연하</div>
            <div id="r_date">2020.02.19</div>
            <img id="bar-thingr" src="{% static 'img/bar-thingr.png' %}">
        </div>
    </body>
</html>