<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/reservation_check.css' %}" type="text/css"> <!--main.css 링크-->
        <script type="text/javascript"></script>
        <script src="{% static 'js/reservation_check.js' %}"></script>
        <title>course_loc</title>
    </head>
    <body>
        <div id="container">
            <div id="history_place" name="history_place">상상로켓 자전거 대여소</div>
            <div id="r_btime" name="r_btime">2020년 02월 17일 11시 <br> 2020년 02월 18일 11시 </div>
            <div id="company_phone" name="company_phone"> TEL:010-1234-5678 </div>
            <div id="company_addr" name="company_addr">일본 기후현 오가키시 어쩌구 저쩌구 XXX-XX</div>
        </div>
    </body>
</html>