<!DOCTYPE html>
<html lang="ko">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/reservation_2.css' %}" type="text/css"> <!--reservation_2.css 링크-->
        <script type="text/javascript"></script>
        <script src="{% static 'js/reservation_2.js' %}"></script><!--reservation_2.js 링크-->
        <title>reservation_2</title>
    </head>
    <body>
        {% load static %}
        <div id="container">
        <img id="reservation2-bkbt" name="reservation2-bkbt" src="{% static 'img/reservation2-bkbt.png' %}" onclick="bkfun();">
        <!--뒤로가기 버튼 삽입-->
        <img id="reservation2-homebt" name="reservation2-homebt" src="{% static 'img/reservation2-homebt.png' %}" onclick="bkfun();">
        <!--홈 버튼 삽입-->
        <div id="thisplace" name="thisplace">이 곳</div>  <!--'이 곳' 텍스트 삽입-->
        <div id="from" name="from">에서 </div> <!--'에서' 텍스트 삽입-->
        <div id="ucanreser" name="ucanreser">대여할 수 있어요.</div> <!--'대여할 수 있어요.' 텍스트 삽입-->
        <img id="rental" name=rental src="{% static 'img/reservation2-block01.png' %}"> <!--1번 대여소 박스 삽입-->
        {% load mathfilters %}
        {% for company in companys %}
        <div id="rental-01" name="rental-01">{{company.member_name}}</div>
        <div id="rental-02" name="rental-02">남은 자전거 : {{company.bicycle_num|sub:company.rent_num}}</div>
        <div id="rental-03" name="rental-02">{{company.company_info}}<br>{{company.company_phone}}</div>
        {% endfor %}

        <!-- <div id="rental1-01" name="rental1-01">상상로켓 자전거 대여소 </div>
        <div id="rental1-02" name="rental1-02">남은 자전거 : </div>
        <div id="rental1-03" name="rental1-03">24시간 운영! 찾기 쉬운 번화가에 <br>위치해있습니다! <br> TEL-81+10-XXXX-XXXX</div>
        <img id="rental_2" name=rental_2 src="{% static 'img/reservation2-block01.png' %}"> 
        <div id="rental2-01" name="rental2-01">상상로켓 자전거 대여소 </div>
        <div id="rental2-02" name="rental2-02">남은 자전거 : </div>
        <div id="rental2-03" name="rental2*03">24시간 운영! 찾기 쉬운 번화가에 <br>위치해있습니다! <br> TEL-81+10-XXXX-XXXX</div>
        <img id="rental_3" name=rental_3 src="{% static 'img/reservation2-block01.png' %}"> 
        <div id="rental3-01" name="rental3-01">상상로켓 자전거 대여소 </div>
        <div id="rental3-02" name="rental3-02">남은 자전거 : </div>
        <div id="rental3-03" name="rental3-03">24시간 운영! 찾기 쉬운 번화가에 <br>위치해있습니다! <br> TEL-81+10-XXXX-XXXX</div>
        <img id="rental_4" name=rental_4 src="{% static 'img/reservation2-block01.png' %}">
        <div id="rental4-01" name="rental4-01">상상로켓 자전거 대여소 </div>
        <div id="rental4-02" name="rental4-02">남은 자전거 : </div>
        <div id="rental4-03" name="rental4-03">24시간 운영! 찾기 쉬운 번화가에 <br>위치해있습니다! <br> TEL-81+10-XXXX-XXXX</div> -->
    </div>
    </body>
</html>