<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../imazine_bic/static/css/reservation_3.css" type="text/css"> <!--reservation_2.css 링크-->
        <script type="text/javascript"></script>
        <script src="../imazine_bic/static/js/reservation_3.js"></script> <!--reservation_2.js 링크-->
        <title>reservation_3</title>
    </head>
    <body>
        <div id="container">
        <img id="reservation2-bkbt" name="reservation2-bkbt" src="../imazine_bic/static/img/reservation2-bkbt.png" onclick="bkfun();">
        <!--뒤로가기 버튼 삽입-->
        <img id="reservation2-homebt" name="reservation2-homebt" src="../imazine_bic/static/img/reservation2-homebt.png" onclick="gohomefun();">
        <!--홈 버튼 삽입-->
        <div id="rental1_p1" name="rental1_p1">상상로켓</div>
        <div id="rental1_p2" name="rental1_p2">자전거 대여소</div>
        <div id="rental1_p3" name="rental1_p3">오가키시 어쩌구 저쩌구에 위치 <br> TEL:81+10-XXXX-XXXX</div>
        <div id="rental1_p4" name="rental_p4">남은 개수</div>
        <div id="rental1_p5" name="rental_p5">대</div>
        <div id="rental1_p6" name="rental_p6">대여시간 설정</div>
        <div id="rental1_p7" name="rental_p7">시작시간</div>
        <select name="fruit">
            <option value="am12:00">AM 12:00</option>
            <option value="am1:00">AM 1:00</option>
            <option value="am2:00" selected="selected">AM 2:00</option>
        </select>
        <div id="rental1_p8" name="rental_p8">반납시간</div>
    </div>
    </body>
</html>