<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        {% load static %}
        {% if count == 1 %}<script>location.href="/index/setting/counsel"</script>{% endif %}
        <link rel="stylesheet" href="{% static 'css/setting_counsel.css' %}" type="text/css"> <!--main.css 링크-->
        <script type="text/javascript"></script>
        <script src="{% static 'js/setting_counsel.js' %}"></script>
        <title>{{count}}</title>
    </head>
    <body>
        {% load static %}
        <div id="container">
            <img id="reservation2-bkbt" name="reservation2-bkbt" src="{% static 'img/reservation2-bkbt.png' %}" onclick="bkfun();">
            <!--뒤로가기 버튼 삽입-->
            <img id="reservation2-homebt" name="reservation2-homebt" src="{% static 'img/reservation2-homebt.png' %}" onclick="bkfun();">
            <!--홈 버튼 삽입-->
            <img id="write-bt" src="{% static 'img/write-bt-s.png' %}" onclick="gowrite();">
            <div id="n_text">무엇을 도와드릴까요?</div>
            <div id="m_text">내가 쓴 글</div>
            <img id="white-box" src="{% static 'img/white-box.png'%}">
            <div id="m_title">어린이용 자전거도 따로 있나요?</div>
            <div id="m_contents">만 8세 아동이 탈 수 있는 어린이용 자전거도 따로 있는지 궁금합니다. 있다면 추가금액이 붙는지도 알려주세요! 싫다구요? 싫으면 장사 접으세요^_^_^_^</div>
        </div>
    </body>
</html>