<!--<html>
    <body>
        
        {{shop.member_name}}, {{shop.company_addr}}, {{shop.company_phone}}
        <form action = "{% url 'choose_time' %}" name = "shopForm" method = "GET" accept-charset="UTF-8"> {% csrf_token %}
            <input type = hidden name = shop name = shop value = {{notice.num}}>
            <input type = submit value = "이 대여소 선택하기">
        </form>
    </body>
</html>-->
<!--<html>
    <body>
        {{notice.subject}}, {{notice.content}}
        
    </body>
</html>-->
<!--<html>
    <body>
        <table>
        {% for notice in notices %}
            <tr onclick="location.href='notice/{{notice.num}}'">
                <td>{{notice.num}}</td>
                <td>{{notice.subject}}</td>
                <td>{{notice.regdate}}</td>
                <td>{{notice.writer}}</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>-->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/shop_detail.css' %}" type="text/css"> <!--main.css 링크-->
        <script type="text/javascript"></script>
        <script src="{% static 'js/shop_detail.js' %}"></script>
        <title>choose_shop_detail</title>
    </head>
    <body>
        <div id="container">
            <img id="reservation2-bkbt" name="reservation2-bkbt" src="{% static 'img/reservation2-bkbt.png' %}" onclick="bkfun();">
            <!--뒤로가기 버튼 삽입-->
            <img id="reservation2-homebt" name="reservation2-homebt" src="{% static 'img/reservation2-homebt.png' %}" onclick="bkfun();">
            <!--홈 버튼 삽입-->    
            <div id="member_name" name="member_name">상상로켓 자전거 대여소</div>'
            <div id="company_info" name="company_info">얘들아 우리 곧 집 간다!!나는 정말 집이 그리워!!!오예 신난당</div>
            <div id="company_addr" name="company_addr">주소 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;일본 기후현 오가키시 집</div>
            <div id="company_phone" name="company_phone">전화번호 &nbsp; &nbsp; &nbsp;XXX-XXXX-XXXX</div>
            <div id="s_business" name="s_business">영업시간 &nbsp; &nbsp; &nbsp;XX시~XX시</div>
        </div>
    </body>
</html>
