@charset "utf-8";

@font-face { font-family: 'NotoSansCJKKR-Black'; src: url("../font/NotoSansCJKkr-Black.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Regular'; src: url("../font/NotoSansCJKkr-Regular.otf") } 


body{
    background-image: url("../img/login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
} /*bg img 설정*/

#container #korean{
    position: absolute;
    top:200px;
    left:150px;
}

#container #japan{
    position: absolute;
    top:500px;
    left:150px;
}

#container #eng{
    position: absolute;
    top:800px;
    left:150px;
}