@charset "utf-8";

@font-face { font-family: 'NotoSansCJKKR-Black'; src: url("../font/NotoSansCJKkr-Black.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Regular'; src: url("../font/NotoSansCJKkr-Regular.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Bold'; src: url("../font/NotoSansCJKkr-Bold.otf")}
@font-face { font-family: 'NotoSansCJKKR-Medium'; src: url("../font/NotoSansCJKkr-Medium.otf")}

body{
    background-image: url("../img/r3bg.png");
    background-repeat: no-repeat;
    background-size: cover;
} /*bg img 설정*/


#container #reservation2-bkbt{
    position: absolute;
    top:100px;
    left:40px;
} /*<- 버튼 위치 설정*/

#container #reservation2-homebt{
    position: absolute;
    top:100px;
    left:940px;
} /*home 버튼 위치 설정*/

#container #rental1_p1{
    font-family: NotoSansCJKKR-Black;
    position: absolute;
    top:700px;
    left:70px;
    font-size:120px;
    color:white;
} /*자전거 대여소 이름 위치 설정*/

#container #rental1_p2{
    font-family: NotoSansCJKKR-Black;
    position: absolute;
    top:850px;
    left:70px;
    font-size:90px;
    color:white;
} /*자전거 대여소 이름 위치 설정*/

#container #rental1_p3{
    font-family: NotoSansCJKKR-Regular;
    position: absolute;
    top:1000px;
    left:70px;
    font-size:48px;
    color:white;
} /*자전거 대여소 위치/ 전화번호 위치 설정*/

#container #rental1_p4{
    font-family: NotoSansCJKKR-Medium;
    position: absolute;
    top:730px;
    left:700px;
    font-size:78px;
    color:white;
} /*남은개수 위치 설정*/


#container #rental1_p5{
    font-family: NotoSansCJKKR-Medium;
    position: absolute;
    top:800px;
    left:760px;
    font-size:120px;
    color:white;
} /*10대 이름 위치 설정*/


#container #s_time{
    appearance: none;
    -webkit-appearance:none;
    font-family:NotoSansCJKKR-Medium;
    font-size: 45px;
    background: url(../img/arrow.png);
    border:0px;
    color:rgb(146,146,146);
    position: relative;
    width:300px;
    height:80px;
    top:1815px;
    left:52px;
} /*select box css*/

#s_time option {
    font-size:18px;
}

#e_time option {
    font-size:18px;
}

#container #e_time{
    appearance: none;
    -webkit-appearance:none;
    font-family:NotoSansCJKKR-Medium;
    font-size: 45px;
    background: url(../img/arrow.png);
    border:0px;
    color:rgb(146, 146, 146);
    position: relative;
    width:300px;
    height:80px;
    top:1815px;
    left:260px;
} /*select box css*/

#container #reservation3-finish{
    position:absolute;
    top:2000px;
    left:760px;
} /*완료 버튼 위치 설정*/ 

