@charset "utf-8";

@font-face { font-family: 'NotoSansCJKKR-Black'; src: url("../font/NotoSansCJKkr-Black.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Regular'; src: url("../font/NotoSansCJKkr-Regular.otf") } 

body{
    background-image: url("../img/language-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
} /*bg img 설정*/

#container #company-bt{
    position: absolute;
    top:1100px;
    left:100px;
}/*업체 bt 위치 설정*/

#container #traveler-bt{
    position: absolute;
    top:1100px;
    left:100px;
}/*여행자 bt 위치 설정*/

#container #sslogo-big{
    position: absolute;
    top:500px;
    left:400px;
}/*로고 위치 설정*/

#container #who-txt{
    position: absolute;
    top:700px;
    left:300px;
}/*질문 위치 설정*/

