@charset "utf-8";

@font-face { font-family: 'NotoSansCJKKR-Black'; src: url("../font/NotoSansCJKkr-Black.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Regular'; src: url("../font/NotoSansCJKkr-Regular.otf") } 

body{
    background-image: url("../img/where-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
} /*bg img 설정*/

#container #bluebox{
    position: absolute;
    top:500px;
    left:100px;
} /*course box*/

#container #rsv-course{
    position: absolute;
    top:1500px;
    left:200px;
} /*추천받기 bt 누르기*/
