@charset "utf-8";

@font-face { font-family: 'NotoSansCJKKR-Black'; src: url("../font/NotoSansCJKkr-Black.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Regular'; src: url("../font/NotoSansCJKkr-Regular.otf") } 


body{
    background-image: url("../img/main-compy-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
} /*bg img 설정*/

#container #member_name{
    font-family: NotoSansCJKKR-Black;
    position: absolute;
    top:700px;
    left:70px;
    width:150px;
    font-size:120px;
    overflow: hidden;
    text-overflow: ellipsis;
    color:white;
} /*자전거 대여소 이름 위치 설정*/

#container #nim{
    font-family: NotoSansCJKKR-Regular;
    position: absolute;
    top:380px;
    left:480px;
    font-size:120px;
    /* font-size:120vmin; */
    color:white;
} /*'님,' 텍스트 설정*/

#container #welcome{
    font-family: NotoSansCJKKR-Regular;
    position: absolute;
    top:550px;
    left:60px;
    font-size:110px;
    color:white;
} /*'반갑습니다.' 텍스트 설정*/

#container #notice-main #notice {
    position: relative;
    top:550px;
    left:100px;
}

#container #notice-main{
    position: relative;
    top:550px;
    left:100px;
}

#container #main-setting{
    position: absolute;
    top:100px;
    left:920px;
} /*설정 버튼 위치 설정*/


