@charset "utf-8";

@font-face { font-family: 'NotoSansCJKKR-Black'; src: url("../font/NotoSansCJKkr-Black.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Bold'; src: url("../font/NotoSansCJKkr-Bold.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Regular'; src: url("../font/NotoSansCJKkr-Regular.otf") } 

body{
    background-image: url("../img/barcode-bgbl.png");
    background-repeat: no-repeat;
    background-size: cover;
} /*bg img 설정*/

#container #hisory_place{
    font-family: NotoSansCJKKR-Bold;
    position: absolute;
    top:500px;
    left:100px;
    font-size:72px;
    color:rgb(106, 107, 141);
} /*대여소 이름 위치 설정*/

#container #r_btime{
    font-family: NotoSansCJKKR-Regular;
    position: absolute;
    top:500px;
    left:100px;
    font-size:36px;
    color:rgb(106, 107, 141);
} /* 날짜 위치 설정*/


#container #r_company_phone{
    font-family: NotoSansCJKKR-Regular;
    position: absolute;
    top:500px;
    left:100px;
    font-size:36px;
    color:rgb(106, 107, 141);
}/* 전화번호 위치 설정*/


#container #company_addr{
    font-family: NotoSansCJKKR-Regular;
    position: absolute;
    top:500px;
    left:100px;
    font-size:36px;
    color:rgb(106, 107, 141);
} /*주소 위치 설정*/
