@charset "utf-8";

@font-face { font-family: 'NotoSansCJKKR-Black'; src: url("../font/NotoSansCJKkr-Black.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Regular'; src: url("../font/NotoSansCJKkr-Regular.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Bold'; src: url("../font/NotoSansCJKkr-Bold.otf")}
@font-face { font-family: 'NotoSansCJKKR-Medium'; src: url("../font/NotoSansCJKkr-Medium.otf")}

body{
    background-image: url("{% static 'img/reservation3-bg.png' %}");
    background-repeat: no-repeat;
    background-size: cover;
} /*bg img 설정*/


#container #reservation2-bkbt{
    position: absolute;
    top:100px;
    left:40px;
} /*<- 버튼 위치 설정*/

#container #reservation2-homebt{
    position: absolute;
    top:100px;
    left:940px;
} /*home 버튼 위치 설정*/

#container #rental1_p1{
    font-family: NotoSansCJKKR-Black;
    position: absolute;
    top:780px;
    left:70px;
    font-size:120px;
    color:white;
} /*자전거 대여소 이름 위치 설정*/

#container #rental1_p2{
    font-family: NotoSansCJKKR-Black;
    position: absolute;
    top:950px;
    left:70px;
    font-size:90px;
    color:white;
} /*자전거 대여소 이름 위치 설정*/

#container #rental1_p3{
    font-family: NotoSansCJKKR-Regular;
    position: absolute;
    top:1150px;
    left:70px;
    font-size:48px;
    color:white;
} /*자전거 대여소 위치/ 전화번호 위치 설정*/

#container #rental1_p4{
    font-family: NotoSansCJKKR-Medium;
    position: absolute;
    top:800px;
    left:700px;
    font-size:78px;
    color:white;
} /*남은개수 위치 설정*/


#container #rental1_p5{
    font-family: NotoSansCJKKR-Medium;
    position: absolute;
    top:900px;
    left:900px;
    font-size:120px;
    color:white;
} /*대 이름 위치 설정*/

#container #rental1_p6{
    font-family: NotoSansCJKKR-Bold;
    position: absolute;
    top:1400px;
    left:80px;
    font-size:88px;
    color:rgb(73, 167, 73);
} /*대여시간 설정 위치 설정*/

#container #rental1_p7{
    font-family: NotoSansCJKKR-Medium;
    position: absolute;
    top:1600px;
    left:80px;
    font-size:60px;
    color:rgb(102, 207, 102);
} /*시작시간 위치 설정*/

#container #rental1_p8{
    font-family: NotoSansCJKKR-Medium;
    position: absolute;
    top:1600px;
    left:600px;
    font-size:60px;
    color:rgb(102, 207, 102);
} /*반납시간 위치 설정*/