@charset "utf-8";

@font-face { font-family: 'NotoSansCJKKR-Black'; src: url("../font/NotoSansCJKkr-Black.otf") } 
@font-face { font-family: 'NotoSansCJKKR-Regular'; src: url("../font/NotoSansCJKkr-Regular.otf") } 


body{
    background-image: url("../img/language-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
} /*bg img 설정*/

#container #lan_txt01{
    font-family: NotoSansCJKKR-Black;
    position: absolute;
    top:350px;
    left:60px;
    font-size:120px;
    color:white;
}

#container #lan_txt02{
    font-family: NotoSansCJKKR-Regular;
    position: absolute;
    top:500px;
    left:70px;
    font-size:80px;
    color:white;
}

#container #kr-bt1{
    position: absolute;
    top:900px;
    left:180px;
}

#container #jp-bt1{
    position: absolute;
    top:1200px;
    left:180px;
}

#container #eg-bt1{
    position: absolute;
    top:1500px;
    left:180px;
}